<!DOCTYPE html>
<html lang="<%=I18n.locale.to_s%>">
<head>
  <meta charset="UTF-8">
  <title> WebSite :::::::::::::::::</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", media: "all"%>
  <%= stylesheet_link_tag "home_references", media: "all"%>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "home_references"%>

</head>
  <body>
      <%= yield %>
  </body>
</html>